# Node modules
node_modules/

# Compiled output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# IDEs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Testing
coverage/
*.lcov

# Misc
*.swp